<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Sign Up</button>
      <a href="signin">Back</a>
    </div>
  </form>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</body>
</html>